<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img width="150px" src="{{ asset('build/logo.svg') }}" alt=""/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown bg-black mx-4">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown bg-black mx-4">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link" href="#">Mes Favoris</span></a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link" href="#">Deconection</a>
      </li>
    </ul>
    <form class="form-inline mx-4 mx-md-0 my-2 my-lg-0">
      <input class="search__input" type="text" placeholder="Search">
    </form>
  <ul class="navbar-nav">
    <li class="nav-item mx-4">
      <a class="nav-link text-dark" href="#">John Doe</a>
    </li>
    <li class="nav-item ml-xl-n4">
      <a class="nav-link text-dark" href="/login">
        <i class="far fa-user"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="">
        <i class="fas fa-globe"></i>
      </a>
    </li>
  </ul>
  </div>
</nav>
<!-- Navbar -->
